html,body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #000;
}

div.console {
    background: #2c2c2c;
    color: #FFF;
    font-size: 14px;
    height: 95%;
}

div.console div.jquery-console-welcome {
    padding: 0.2em;
}

div.console div.jquery-console-inner {
    overflow: auto;
}

div.console div.jquery-console-prompt-box {
    padding: 0.3em;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
    background: #D7CF42;
    color: #000;
    font-weight: bold
}

div.console div.jquery-console-message-error {
    color: #DC322F;
    padding: 0.2em;
}

div.console div.jquery-console-message-success {
    color: #859900;
    padding: 0.2em;
}

div.console div.jquery-console-message-info {
    color: #268BD2;
    padding: 0.2em;
}

div.console div.jquery-console-message-warning {
    color: #ECAA1F;
    padding: 0.2em;
}

div.console span.jquery-console-prompt-label {
    font-weight: bold
}

div.content {
 height: 100%;
 width: 100%;
 float:right;
 overflow: auto;
}

div.replSection {
  height: 99%;
  width: 50%;
  background: #2c2c2c;
  float: left;
  overflow: auto;
}
#replLink {
  text-align: center;
  margin-top: 0.5em;
}
#replLink a {
  color: lightyellow;
  font-family: sans-serif;
  font-weight: bold;
}

div.editorSection {
  height: 99%;
  width: 49%;
  float: left;
  border: 1px solid #fff;
  background: #2c2c2c;
  overflow: hidden;
}

div.editorSubmit {
  height: 2%;
  width: 10%;
  margin:0 auto;
}

div.inputHeader .inputRun {
  float: right;
  color: #fff;
  font-size: 16px;
}
div.input {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}

#editor {
  height: 98%;
  resize: none
}

div.output {
  height: 50%;
  width: 100%;
  background: #fff;
  color: #FFF;
  overflow: auto;
  border: 1px solid #fff;
}

div h3.ui-widget-header {
  text-align: center;
  margin: 0;
}

ul.repolinks li:hover{background: #F39814; color: white;}
ul.repolinks { list-style-type: none; margin: 0; padding: 0;  }
ul.repolinks li { margin: 3px 3px 3px 0; padding: 6px; float: left; width: 80%; font-size: 16px; text-align: center; }
ul.repolinks li a { margin: 0px; display: block; width: 100%; height: 100%; }


