div.console {
    background: #002B36;
    color: #FFF;
    font-size: 14px;
    font-family: Consolas, Inconsolata, Profont, Terminus, "DejaVu Sans Mono","Andale Mono", Monaco,
    Inconsolata-g, Unifont, Lime, "ClearlyU PUA", Clean,
    "Lucida Console", "Bitstream Vera Sans Mono",
    Freemono, "Liberation Mono", Dina, Anka, Droid Sans Mono,
    Anonymous Pro, Proggy fonts, Envy Code R, Gamow, Courier,
    "Courier New", Terminal, monospace;
    overflow: auto;
}

div.console div.jquery-console-welcome {
    padding: 0.2em;
}

div.console div.jquery-console-inner {
    overflow: auto;
}

div.console div.jquery-console-prompt-box {
    padding: 0.3em;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
    background: #D7CF42;
    color: #000;
    font-weight: bold
}

div.console div.jquery-console-message-error {
    color: #DC322F;
    padding: 0.2em;
}

div.console div.jquery-console-message-success {
    color: #859900;
    padding: 0.2em;
}

div.console div.jquery-console-message-info {
    color: #268BD2;
    padding: 0.2em;
}

div.console span.jquery-console-prompt-label {
    font-weight: bold
}

div.morefrege {
    font-size: 14px;
    font-family: Consolas, Inconsolata, Profont, Terminus, "DejaVu Sans Mono","Andale Mono", Monaco,
    Inconsolata-g, Unifont, Lime, "ClearlyU PUA", Clean,
    "Lucida Console", "Bitstream Vera Sans Mono",
    Freemono, "Liberation Mono", Dina, Anka, Droid Sans Mono,
    Anonymous Pro, Proggy fonts, Envy Code R, Gamow, Courier,
    "Courier New", Terminal, monospace;
    
}

#tutorial {
    border-left: 1px solid #6EA7D1;
    font-size: 12px;
    padding: 5px;
    font-family: Consolas, Inconsolata, Profont, Terminus, "DejaVu Sans Mono","Andale Mono", Monaco,
    Inconsolata-g, Unifont, Lime, "ClearlyU PUA", Clean,
    "Lucida Console", "Bitstream Vera Sans Mono",
    Freemono, "Liberation Mono", Dina, Anka, Droid Sans Mono,
    Anonymous Pro, Proggy fonts, Envy Code R, Gamow, Courier,
    "Courier New", Terminal, monospace;
    overflow: auto;
}

ul.repolinks li:hover{background: #F39814; color: white;}
ul.repolinks { list-style-type: none; margin: 0; padding: 0;  }
ul.repolinks li { margin: 3px 3px 3px 0; padding: 6px; float: left; width: 80%; font-size: 16px; text-align: center; }
ul.repolinks li a { margin: 0px; display: block; width: 100%; height: 100%; }

ul.features { }
ul.features li {padding:2px; font-size:14px;}